# Runner
RUNNER=LOCAL

# Winston logger
LOG_LEVEL = DEBUG


DEBUG = "Y"

#For Demo
SCERETE_KEY=sdmsmdsmksmxkx
SCECRATE_SAUCE=djvnsidncc218914cms

#How To Use
#just call it from method which is
#process.env.SCERETE_KEY
#When 'MODULE_NOT_FOUND' then fire the command in terminal = "SET PATH=C:\Program Files\Nodejs;%PATH%"